@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin containerPattern
    display: flex
    flex-direction: column
    gap: 20px
    width: 327px 

@mixin desktop
    @media (min-width: 1024px)
        @content
    