
$color-1: #A410E3
$color-2: #551b7a
$color-3: #212121
$color-4: #16171c

$border-color1: hsla(282, 87%, 48%, 0.425)
$border-color2: hsla(282, 87%, 48%, 0.26)

$box-shadow-color1: rgba(89, 4, 168, 0.137)

$text-color1:#ffffffaf
$text-color2: #ffffff80
$white-color: #ffffff

$gradiante-color1: rgba(16, 15, 15, 0.68)
$gradiante-color2: rgba(12, 10, 22, 0.863)

$bg-gradiante: linear-gradient(to left bottom, $gradiante-color1, $gradiante-color2)