@import './variables'
@import './animations'
* 
    padding: 0
    margin: 0
    border: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    scroll-behavior: smooth
    scrollbar-width: none
    font-family: "Montserrat", serif


body 
    background-image: $bg-gradiante, url('../../public/assets/imgs/home-bg.jpg')
    background-repeat: no-repeat
    background-size: cover

.wave-container
        span
            display: inline-block
            animation: wave-text 2s ease-in-out infinite

#tsparticles 
    position: fixed !important
    background-repeat: no-repeat !important
    background-size: cover !important
    width: 100%
    height: 100%
    z-index: -1

[data-aos] 
    will-change: transform, opacity