@import '../mixins'
@import '../variables'

.container-about
    @include containerPattern
    padding-block: 40px

    @include desktop
        width: 100%
        height: 100vh
        padding-inline: 80px
        

    .container-content
        display: flex
        flex-direction: column
        gap: 20px

        @include desktop
            flex-direction: row
            justify-content: space-between
            align-items: center
            height: 100%
            

        .container-texts
            display: flex
            flex-direction: column
            gap: 10px

            @include desktop
                width: 600px
        
            p
                text-align: left
                line-height: 22px
                font-size: 15px
                color: $text-color2
            
        .container-img

            img 
                width: 100%
                height: 100%
