@import '../mixins'
@import '../variables'

.container-about
    @include center
    flex-direction: column
    gap: 20px
    width: 327px
    padding-block: 40px

    .container-texts
        display: flex
        flex-direction: column
        gap: 10px
    
        p
            text-align: left
            line-height: 22px
            font-size: 15px
            color: $text-color2

    img 
        width: 100%
        height: 100%