@use '../variables'
@use  '../mixins'

.link
    width: 110px

    .btn-back
        cursor: pointer
        @include mixins.center
        @include mixins.btns
        gap: 10px
        width: 100%
        height: 50px

        @include mixins.desktop
            margin: 0

        &:hover
            transform: scale(0.9)
            border: 1px solid variables.$color-1
            color: variables.$color-1