@import '../mixins.sass'
@import '../variables.sass'

@keyframes wave
    0%
        transform: rotate(0deg)

    10%
        transform: rotate(14deg)

    20%
        transform: rotate(-8deg)

    30%
        transform: rotate(14deg)

    40%
        transform: rotate(-4deg)

    50%
        transform: rotate(10deg)

    60%
        transform: rotate(0deg)

    100%
        transform: rotate(0deg)

    
.container-introduction
    display: flex
    flex-direction: column
    gap: 20px
    width: 327px
    padding-block: 20px

    @include desktop
        width: 100%
        height: calc( 100vh - 90px )
        flex-direction: row
        justify-content: center
        align-items: center
        padding-inline: 80px

    .container-texts
        display: flex
        flex-direction: column
        width: 100%
        height: 222px

        @include desktop
            width: 600px
            height: 500px

        .texts__title
            display: flex
            justify-content: flex-end
            flex-direction: column
            gap: 8px
            height: 100%
            padding-bottom: 10px

            @include desktop
                justify-content: center
                padding: 0

            .title 
                font-size: 25px
                font-weight: bold
                color: $white-color

                .emoji
                    animation-name: wave
                    animation-duration: 2.1s
                    animation-iteration-count: infinite
                    transform-origin: 70% 70%
                    display: inline-block

                @include desktop
                    font-size: 2.2rem

                .destaque
                    color: $color-1

            .subtitle
                font-size: 18px
                font-weight: 400
                color: $white-color

                @include desktop
                    font-size: 19px

        .social-midia
            display: none

            @include desktop
                display: flex
                align-items: flex-end
                height: 100px
                gap: 20px
                padding-bottom: 20px

            .icon
                font-size: 2.3rem
                color: $color-1
                cursor: pointer
                transition: transform 0.5s ease-in-out, color 0.5s ease-in-out

                &:hover
                    transform: scale(1.3)
                    color: $white-color


    .container-img 
        height: 438px

        @include desktop
            display: flex
            align-items: center
            justify-content: flex-end
            height: 500px
            width: 600px

        img
            width: 100%
            padding-top: 20px

            @include desktop
                width: 470px
                height: 470px
                padding: 0
