@import '../mixins'
@import '../variables'
    
.container-projects
    @include containerPattern
    height: 100vh
    padding: 40px 0

    .container-cards-projects
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        gap: 30px
        height: 100%
        padding: 20px
        overflow: scroll
        scroll-behavior: smooth

        .cards
            display: flex
            flex-direction: column
            gap: 30px
            width: 260px
            background: $color-4
            border-radius: 10px
            padding-bottom: 30px
            cursor: pointer
            border: 1px solid $border-color
            box-shadow: $box-shadow-color 4px 5px 4px 3px
            transition: transform 0.5s ease-in-out, border-color 0.5s ease-in-out

            &:hover
                transform: scale(1.1)