@import '../mixins'
@import '../variables'
    
.container-projects
    @include containerPattern
    height: 100vh
    padding: 40px 0

    .container-cards-projects
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        gap: 30px
        height: 100%
        padding: 20px
        overflow: scroll
        scroll-behavior: smooth
