@import '../mixins'
@import '../variables'
    
.container-skills
    @include containerPattern
    padding-block: 40px
    height: 100vh

    .container-cards-skills
        display: grid
        grid-template-columns: repeat(2, 140px)
        align-content: center
        justify-content: center
        gap: 20px
        height: 100%

        .cards-skills
            @include center
            flex-direction: column
            width: 140px
            height: 140px
            border: 1px solid $border-color
            box-shadow: $box-shadow-color 4px 5px 4px 3px
            transition: transform 0.5s ease-in-out, border-color 0.5s ease-in-out
        
            .hab
                font-size: 4rem
                color: $border-color
                transition: color 0.9s ease-in-out
                
            &:hover
                transform: scale(1.1)
                border: 2px solid $color-1
            
                &:hover, .hab
                    color: $color-1

