@import '../mixins'
@import '../_variables'

.container-title
    @include center
    flex-direction: column
    gap: 10px
    width: 100%

    h1
        font-size: 2.4rem
        font-weight: bold
        letter-spacing: 1px
        color: $white-color