@import '../mixins.sass'
@import '../variables.sass'
    
.header
    display: flex
    justify-content: space-between
    align-items: center
    height: 90px

    .container-logo
        cursor: pointer
        @include center
        width: 90px
        height: 90px
        img
            width: 70px
    
    .navbar__btn-menu
        cursor: pointer
        @include center
        width: 80px
        height: 90px

        .menu-icon
            font-size: 2rem
            color: $white-color
    
    .navbar 

        .navbar__ul
            display: none
            
