@import '../mixins.sass'
@import '../variables.sass'
    
.container-introduction
    @include center
    flex-direction: column
    padding-block: 20px
    gap: 20px
    
    .container-texts
        display: flex
        flex-direction: column
        width: 327px
        height: 331px

        .texts__title
            display: flex
            flex-direction: column  
            gap: 8px
            .title 
                font-size: 25px
                font-weight: bold
                color: $white-color


    .container-img 
        width: 327px
        height: 331px

    img
        width: 50px